.wrapper
{
  width: 90%;
  margin: 10% auto;
}
ion-item{
  margin: 10% auto 3%;
  --background: #cac6c6;
  border-radius: 10px;
}
ion-footer{
  background: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
ion-toolbar img{
  position: relative;
  top: 50%; left: 40%;
  //transform: (-50%, -50%);
}
